<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Whoa whoa whoa whoa</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <h1>H-hey there buddy. Looking a little lost?</h1>
    <p>That's a <strong>400</strong> error. That means whatever you did, our website isn't gonna be able to make shit out of that. Looking at you, Paul...</p><br><br>
    <p>Is this a mistake? Please let us know! Shout us out on Discord, or Email for a bug ping with code:</p><br>
    <h2>DOES NOT EXIST</h2>
</body>
</html>
