<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PSST- HEY, YOU! 403!</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <h1>You can't be here!</h1>
    <p>You triggered a <strong>403</strong>. Whatever you did, you know you're not allowed to do it.</p>
    <p>Don’t know? Now you do. Please don’t do it again.</p>
    <p><em>These errors get logged.</em></p><br>
    
    <div class="code">We will send the heathens for you if we deem it necessary...</div><br><br>

    <p>If this is a mistake, shout us out on Discord or email with this error code:</p>
    <div class="code">UNGRANTED</div>
</body>
</html>