<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>429? NO MORE, PLEASE!!</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <h1>Please, NO MORE!!</h1>
    <p>You triggered a <strong>429</strong>. This means you've been spamming the server not letting other people have their turn, which isn't very nice.</p><br><br>
    <p>Is this a mistake? Please let us know! Shout us out on Discord, or Email for a bug ping with code:<p><br>
    <div class="code">NO_GRAND_SLAM</div>
</body>
</html>