<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What in the 500??</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <h1>Hey... um, soooo</h1>
    <p>We got a <strong>500</strong> error. We don't know what caused this, normally this warrants a bug report of some kind.</p><br><br>
    <p>Please let us know of this issue if you actually were trying to do something. Shout us out on Discord, or Email for a bug ping with code:<p><br>
    <div class="code">INCOMPETENCE</div>
</body>
</html>