<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrong type, buddy.</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <h1>We ain't in Kansas anymore...</h1>
    <p>We're in Oregon. That's right, this is a <strong>505</strong> error, meaning you meant to go somewhere, probably to a different version of this website, and failed.</p><br><br>
    <p>Try switching over to HTTP if you were in the app and it gave you this error! Or, if you meant to actually do something, shout us out on Discord, or Email for a bug ping with code:</p><br>
    <div class="code">WINDOWS 3 ACTIVATED</div>
</body>
</html>